:root{
    --var-primary-color: #36a420;
    --var-primary-text-color: #efefef;
    --var-secondary-color: #89dea0;
    --var-hover-color: #2e7d32;
    --var-background-color: #005729;
}
.btn-primary {
    --bs-btn-bg: #36a420;
    --bs-btn-border-color: #36a420;
    --bs-btn-hover-bg: #2e7d32;
    --bs-btn-hover-border-color: #2e7d32;
    --bs-btn-active-bg: #2e7d32;
    --bs-btn-active-border-color: #2e7d32;
}
.btn-outline-primary {
    --bs-btn-color: #36a420;
    --bs-btn-border-color: #36a420;

    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #36a420;
    --bs-btn-hover-border-color: #36a420;

    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2e7d32;
    --bs-btn-active-border-color: #2e7d32;
}

html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
}
.logo-text{
    color: var(--var-primary-text-color);
}
.nav-link{
    padding: 0;
}

.btn-secondary {
    color: var(--var-primary-text-color);
    background-color:var(--var-primary-color);
    border-color: var(--var-secondary-color);
}

.nav-link{
    color: var(--var-primary-text-color);
}
header{
    background-color: var(--var-background-color)
}
footer{
    background-color: var(--var-background-color)
}
#map {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.marcador{
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

footer .nav-link:hover {
    text-decoration: underline !important;
}
