<section th:fragment="colecciones" class="col-12">
    <div class="card p-2 shadow-sm">
        <h2 class="mb-2">Colecciones</h2>

        <table class="table table-hover align-middle">
            <thead class="table-light">
            <tr>
                <th>Nombre</th>
                <th>Algoritmo</th>
                <th>Fuentes</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="coleccion : ${colecciones}">
                <td th:text="${coleccion.titulo}">Título</td>
                <td th:text="${coleccion.algoritmo}">Algoritmo</td>
                <td>
                        <span th:each="f : ${coleccion.fuentes}"
                              class="badge rounded-pill text-bg-light border me-1"
                              th:text="${f}">Fuente</span>
                </td>
                <td>
                    <a th:href="@{'/colecciones/'+ ${coleccion.id} +'/editar'}" class="btn btn-outline-secondary btn-sm">Editar</a>
                    <a th:href="@{'/colecciones/'+ ${coleccion.id} +'/eliminar'}" class="btn btn-outline-secondary btn-sm">Eliminar</a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="text-end">
            <a th:href="@{/colecciones/crear}" class="btn btn-primary btn-sm">
                Crear
            </a>
        </div>
    </div>
</section>
